@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/01-biblioteca.jpg);
    background-size: cover;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-position: center bottom;
    background-repeat: no-repeat;
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #fffdfc;
    font-size: 32px;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

    .menu .navbar ul li a {
        font-size: 24px;
        padding: 20px;
        color: #fffdfc;
        display: block;
        font-weight: 600;
    }

        .menu .navbar ul li a:hover {
            color: #ce967b;
        }

#menu {
    display: none;
}

.menu-icon {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    text-align: center;
}

    .header-content h1 {
        font-size: 75px;
        line-height: 80px;
        color: #f9fafc;
        text-transform: uppercase;
        margin-bottom: 35px;
    }

    .header-content p {
        font-size: 18px;
        color: #c5c5c5;
        padding: 0 250px;
        margin-bottom: 25px;
    }

.generos {
    padding: 100px 0;
    background-color: #e1e2e6;
    position: relative;
}

.generos-content {
    text-align: center;
}

    .generos-content h2 {
        font-size: 55px;
        line-height: 70px;
        color: #323337;
        text-transform: uppercase;
        padding: 0 250px;
        margin-bottom: 15px;
    }

.txt-paragraph {
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}

.generos-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.genero-1 {
    padding: 0 25px;
}

    .genero-1 img {
        width: 200px;
    }

.generos-img {
    position: absolute;
    top: 0;
    right: 0;
}

.genero-1 h3 {
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
}

.footer {
    bottom: 0; 
    padding: 70px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.footer-content {
    display: flex;
    justify-content: center;
}

.link h3 {
    font-size: 20px;
    color: #f9fafc;
    margin-bottom: 15px;
}

.link a {
    text-align: center;
    font-size: 14px;
    color: #c5c5c5;
    display: block;
    margin-bottom: 15px;
}

    .link a:hover {
        font-size: 18px;
        color: white;
    }

@media (max-width: 991px) {
    .menu {
        padding: 30px;
    }

        .menu label {
            display: initial;
        }

        .menu .navbar {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background-color: #323337;
            display: none;
        }

            .menu .navbar ul li {
                width: 100%;
            }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
    }

    .header-content {
        padding: 100px 30px;
    }

        .header-content p {
            padding: 0;
        }

    .footer {
        padding: 30px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }
}
